<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 30vh">
        <img
          alt="Quasar logo"
          src="~assets/quasar-logo-full.svg"
        >
      </div>

      <div class="text-h2" style="opacity:.4">
        Приложение
      </div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        unelevated
        @click="$router.back()"
        label="Назад"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>
