<template>
  <q-page class="flex flex-block">
    <!--<div class="row">
      <q-list bordered separator class="col" style="max-width: 250px">
        <q-item clickable
                v-ripple
                v-for="item in sequences"
                :key="item.node.uuid"
                @click="loadLines(item.node.id)"
        >
          <q-item-section>
            <q-item-label>
              {{ item.node.name }}
            </q-item-label>
            <q-item-label caption>
              Точек: {{ item.node.pointCount }} [{{ item.node.minVal }}, {{ item.node.maxVal }}]
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>-->

    <div class="col">
      <q-page class="flex flex-center justify-center" style="padding: 15px">
        <canvas id="line-chart"></canvas>
        <div class="column items-center justify-center">
          <div class="row">
            <q-input outlined
                     v-model="freq"
                     type="number"
                     :max="50"
                     :min="10"
                     label="Частота"
                     style="max-width: 120px; padding: 0 10px 10px 0"
            >
            </q-input>
            <q-input outlined
                     v-model="point_count"
                     type="number"
                     :max="90"
                     :min="10"
                     label="Число точек"
                     style="min-width: 120px; padding: 0 0 10px 0"
            >
            </q-input>
          </div>
          <div class="col ">
            <q-btn v-if="!paused" color="warning" @click="paused = !paused">
              Приостановить
            </q-btn>
            <q-btn v-else color="primary" @click="paused = !paused">
              Возобновить
            </q-btn>
          </div>
        </div>
      </q-page>
    </div>
  </q-page>
</template>

<script>
import Chart from 'chart.js'

let timerId

export default {
  name: 'PageIndex',

  data () {
    return {
      myChart: null,

      paused: false,
      freq: 20,
      point_count: 60,
      data: [],
      labels: Array.from(Array(60).keys()),
      options: {
        animation: {
          duration: 0
        }
      }
    }
  },

  computed: {
    chartDataset () {
      return [{
        label: ['# значение'],
        data: this.data,
        fill: false,
        pointBorderColor: 'orange',
        pointBackgroundColor: 'orange',
        borderColor: 'orange'
      }]
    }
  },

  watch: {
    paused: function (newVal, oldVal) {
      if (newVal) {
        clearInterval(timerId)
      } else {
        timerId = setInterval(() => {
          this.loadRandomPoint()
        }, 1000 / this.freq)
      }
    },

    freq: function (newVal, oldVal) {
      clearInterval(timerId)
      timerId = setInterval(() => {
        this.loadRandomPoint()
      }, 1000 / this.freq)
    },

    point_count: function (newVal, oldVal) {
      if (newVal > this.labels.length) {
        if (!this.labels.length) {
          for (const idx of Array(newVal)) {
            this.labels.push(idx)
          }
        } else {
          const dif = newVal - this.labels.length
          for (let i = 0; i < dif; ++i) {
            this.labels.push(Math.max(...this.labels) + 1)
          }
        }
      } else if (newVal < this.labels.length) {
        const dif = this.labels.length - newVal
        this.labels.splice(this.labels.length - dif)
      }
    }
  },

  methods: {
    createChart (chartId) {
      const ctx = document.getElementById(chartId)
      this.myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: this.labels,
          datasets: this.chartDataset
        },
        options: this.options
      })
    },

    loadRandomPoint () {
      const query = `
query {
  randomPoint {
    point
    time
  }
}
      `
      this.$axios.post('', {
        query: query
      })
        .then(response => {
          const point = response.data.data.randomPoint

          if (this.data.length >= this.point_count) {
            this.data.splice(0, this.data.length - this.point_count)
          }
          this.data.push(point.point)
          this.myChart.update()
        })
        .catch(err => {
          console.error(err)
        })
    }
  },

  mounted () {
    this.createChart('line-chart')
    timerId = setInterval(() => {
      this.loadRandomPoint()
    }, 1000 / this.freq)
  },

  beforeDestroy () {
    clearInterval(timerId)
  }
}
</script>
