<template>
  <div class="fullscreen bg-green text-white text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 24vh">
        <img
          alt="Quasar logo"
          src="~assets/quasar-logo-full.svg"
        >
      </div>

      <div class="text-h3" style="opacity:.4">
        Загрузка компонентов...
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Start',

  data () {
    return {
      retry_cnt: 0
    }
  },

  mounted () {
    this.$axios.post('', {
      query: `
query {
  ping {
    response
  }
}
      `
    })
      .then(response => {
        setTimeout(() => {
          this.$router.push({ name: 'index' })
        }, 1000)
      })
      .catch(error => {
        console.error(error)
        this.$router.push({ name: 'error' })
      })
  }
}
</script>

<style scoped>

</style>
