<template>
  <q-page class="flex flex-block row wrap">
    <chart-view
      v-for="chart of charts"
      :key="chart"
      :id="`${chart}`"
      class="chartCard col-xs-12 col-sm-6 col-md-4 col-xl-3 q-ma-xs"
    />
    <q-btn
      class="q-ma-xs"
      style="max-height: 50px"
      @click="addChart"
    >
      <q-icon name="addchart" />
    </q-btn>
      <q-btn
      class="q-ma-xs"
      style="max-height: 50px"
      @click="add10Chart"
    >
      <q-icon name="filter_9_plus" />
    </q-btn>
  </q-page>
</template>

<script>
import ChartView from 'components/ChartView'

export default {
  name: 'View',

  components: {
    ChartView
  },

  data () {
    return {
      charts: [0]
    }
  },

  methods: {
    addChart () {
      this.charts.push((this.charts.length ? Math.max(...this.charts) + 1 : 0))
      this.$root.$emit('add-chart')
    },

    add10Chart () {
      for (let i = 0; i < 10; i++) {
        this.addChart()
      }
    },

    removeChart (id) {
      console.log(id)
      const target = Number(id)
      this.$delete(this.charts, this.charts.indexOf(target))
      this.$root.$emit('remove-chart')
    }
  },

  mounted () {
  },

  created () {
    this.$root.$on('chart-close', this.removeChart)
  },

  beforeDestroy () {
    this.$root.$off('chart-close', this.removeChart)
  }
}
</script>

<style scoped>
.chartCard {
  height: 30%;
}
</style>
