<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        >
          <q-badge v-if="$route.name === 'view'" floating color="red">{{chart_num}}</q-badge>
        </q-btn>
        <!--<q-toolbar-title>
          Quasar App
        </q-toolbar-title>-->

        <!--<div>Quasar v{{ $q.version }}</div>-->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Доступные действия
        </q-item-label>
        <EssentialLink
          v-for="link in availableActions"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-dialog v-model="addAction" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Генерация файла с данными</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <q-form
            ref="refForm"
            class="q-gutter-md"
          >
            <!--<q-input
              filled
              v-model="name"
              label="Название *"
              hint="Название последовательности"
              lazy-rules
              :rules="[
                val => val && val.length > 0 || 'Укажите название',
                val => errors.length === 0 || errors.join(', ')
              ]"
            />-->
            <q-input
              filled
              type="number"
              v-model="charts_count"
              label="Количество графиков *"
              min="1"
              max="30"
              lazy-rules
              :rules="[
                val => val >= 1 && val <= 30 || 'Значение может быть от 1 до 30',
                val => errors.length === 0 || errors.join(', ')
              ]"
            />
            <q-input
              filled
              type="number"
              v-model="point_count"
              label="Количество значений"
              min="500"
              max="5000"
              lazy-rules
              :rules="[
                val => val === null || val >= 500 && val <= 5000 || 'Значение может быть от 500 до 5\'000'
              ]"
            />
            <q-input
            filled
            type="number"
            v-model="min_val"
            label="Минимальное значение"
            min="-10000"
            max="10000"
            lazy-rules
            :rules="[
              val => val === null || val >= -10000 && val <= 10000 || 'Значение может быть от -10\'000 до 10\'000'
            ]"
            />
            <q-input
            filled
            type="number"
            v-model="max_val"
            label="Максимальное значение"
            min="-10000"
            mask="10000"
            lazy-rules
            :rules="[
              val => val === null || val >= -10000 && val <= 10000 || 'Значение может быть от -10\'000 до 10\'000'
            ]"
            />
    </q-form>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn label="Отмена" @click="cancelAction" color="warning" v-close-popup />
          <q-btn label="Сохранить" color="positive" @click="createChartsData" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <a id="forSave" class="hidden" href="http://localhost:8000/media/charts_data/VKu8SWuXwU.jdata"></a>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Демонстрационный график',
    caption: '',
    icon: 'list',
    link: 'index'
  },
  {
    title: 'Режим мультиграфика',
    caption: '',
    icon: 'dynamic_feed',
    link: 'view'
  },
  {
    title: 'Создать и сохранить тестовые данные',
    caption: '',
    icon: 'save',
    link: '',
    action: 'addAct'
  },
  {
    title: 'О приложении',
    caption: '',
    icon: 'info',
    link: 'about'
  }
]

let actFunc

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      availableActions: linksData,
      addAction: false,

      charts_count: null,
      name: '',
      point_count: null,
      min_val: null,
      max_val: null,

      chart_num: 1,

      errors: []
    }
  },

  methods: {

    addChart () {
      this.chart_num++
    },

    removeChart () {
      this.chart_num--
    },

    createSequences () {
      this.$refs.refForm.validate()
        .then(success => {
          if (success) {
            this.$axios.post('', {
              query: `
mutation ($name: String!, $cnt: Int, $min: Int, $max: Int) {
  createSequence (name: $name, pointsCount: $cnt, minVal: $min, maxVal: $max) {
    status
    message
    errors
    sequence {
      id
      uuid
      name
    }
  }
}
              `,
              variables: JSON.stringify({
                name: this.name,
                cnt: this.point_count,
                min: this.min_val,
                max: this.max_val
              })
            })
              .then(response => {
                const resp = response.data.data.createSequence

                if (resp.status) {
                  console.log(resp.message)
                } else {
                  console.error(resp.message)
                  console.error(resp.errors)
                  this.errors = resp.errors
                  this.$refs.refForm.validate()
                    .then(suc => {
                      this.errors = []
                    })
                    .catch(err => {
                      console.error(err)
                      this.errors = []
                    })
                }
              })
              .catch(error => {
                console.error(error)
              })
          }
        })
    },

    createChartsData () {
      this.$refs.refForm.validate()
        .then(success => {
          if (success) {
            this.$axios.post('', {
              query: `
mutation($charts: Int, $cnt: Int, $min: Int, $max: Int) {
  createChartsData(chartsCount: $charts , pointsCount: $cnt, minVal: $min, maxVal: $max) {
    status
    message
    errors
    data
  }
}
              `,
              variables: JSON.stringify({
                charts: this.charts_count,
                cnt: this.point_count,
                min: this.min_val,
                max: this.max_val
              })
            })
              .then(response => {
                const resp = response.data.data.createChartsData
                console.log(resp)

                if (resp.status) {
                  const aElement = document.getElementById('forSave')

                  aElement.href = resp.data
                  aElement.click()
                  this.addAction = false
                } else {
                  console.error(resp.message)
                  console.error(resp.errors)
                  this.errors = resp.errors
                  this.$refs.refForm.validate()
                    .then(suc => {
                      this.errors = []
                    })
                    .catch(err => {
                      console.error(err)
                      this.errors = []
                    })
                }
              })
              .catch(error => {
                console.error(error)
              })
          }
        })
    },

    cancelAction () {
      this.name = null
      this.point_count = null
      this.min_val = null
      this.max_val = null
      this.addAction = false
      this.$refs.refForm.resetValidation()
    }
  },

  mounted () {
  },

  created () {
    actFunc = () => {
      this.addAction = true
    }

    this.$root.$on('addAct', actFunc)
    this.$root.$on('add-chart', this.addChart)
    this.$root.$on('remove-chart', this.removeChart)
  },

  beforeDestroy () {
    this.$root.$off('addAct', actFunc)
    this.$root.$off('add-chart', this.addChart)
    this.$root.$off('remove-chart', this.removeChart)
  }
}
</script>
